.container
{
    text-align: center;
}
.container table{
    text-align: center;
    margin: auto;
}
.container table tr td{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 40px;
    padding-left: 40px;
}
ul{
    list-style: none;
}
ul li{
    width: 110px;
    font-weight:bold ;
}
div #map{
    background: gray;
}
#footer{
    text-align: center;
    padding-bottom:15px ;
}